@media (min-width: 900px){
	.vertical-align {
		display: flex;
     	align-items: center;
    }
}
a:link {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #d3d3d3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*line-height: 1.8;*/
    color: #f5f6f7;
}

h2 { 
	text-align: left;
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

p {
	font-size: 40px;
    line-height: 1.5em;
    font-size: 16px;
  	text-align: left;
}
  
.margin {
	margin-bottom: 45px;
}

.bg-1 { 
	background-color: #0f4c5c; 
    color: #ffffff;
}

.bg-2 { 
	background-color: #fb8b24; 
    color: #111111;
}

.bg-3 { 
    background-color: #9a031e; 
    color: #ffffff;
}

.bg-4 { 
    background-color: #5f0f40; 
    color: #ffffff;
}
  
.container-fluid {
	padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
	padding-top: 15px;
  	padding-bottom: 15px;
    border: 0;
  	border-radius: 0;
   	margin-bottom: 0;
  	font-size: 12px;
  	letter-spacing: 5px;
}

.navbar-nav  li a:hover {
	color: #a9b3bc !important;
}

.navbar-nav  li a:link {
	color: #ffffff;
}

.navbar-nav  li a:visited {
	color: #ffffff;
}

.img-rounded {
	border-radius: 15px;
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;}

.img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 300px;
	width: 300px;
	object-fit: cover;
  	border-radius: 50%;
}

.video-container {
	display: flex;
	margin: auto;
}

.video-img {
	display: block;
	height: 300px;
	width: 250px;
}

.video-description {
	color: #000000;
	background-color: #ffffff;
	width: 250px;
	display: block;
}

.activity-container {
	display: flex;
	margin: auto;
}

.activity-description {
	color: #000000;
	background-color: #ffffff;
	width: 250px;
	display: block;
}

.activity-img {
	display: block;
	height: 300px;
	width: 250px;
}

@media screen and (max-width: 500px) {
	.video-container {
		flex-direction: column;
	}
	.activity-container {
		flex-direction: column;
	}
}

.vertical-align {
	display: flex;
    align-items: center;
 }

 .paragraph {
 	font-size: 24px;
 }

 .navbar {
 	font-size: 16px;
 }